
{% if is_user==True %}
{% extends 'user_base.html' %}

{% else %}
{% extends 'enterprise_base.html' %}
{% endif %}
  
{% from "_render_elements.html" import render_input, render_messages %}


{% block content %}
<div class="container-fluid contener">

  <div class="d-flex justify-content-center">
    <div class="card shadow-lg col-10 mt-5 rounded-5" style="height:20%; margin-right:1rem !important; background:#7f4ca5;">
      <div class="card-body">

        <div class="d-flex justify-content-start">
          <div class="d-inline-flex">
            {% if enterprise.logo == None %}
            <img class="profile-img" src={{ url_for('static', filename='imgs/user_default.png' ) }} alt="">
            {% else %}
              <img class="profile-img" style="background: #887edd52;" src="{{ url_for('picture_enterprise_profile', filename=enterprise.logo) 
                  if enterprise.logo else 
                    url_for('picture_enterprise_profile', filename='user_default.png') 
                      }}" alt="">
            {% endif %}

            {% if sessionUser.id == enterprise.id and sessionUser.email == enterprise.email %}
            
            <form id="form" action="{{ url_for('enterprises.update_logo') }}" enctype='multipart/form-data'
              method="post">
              <input type="file" name="logo" id="file" class="inputfile" accept="image/png, image/jpeg">
              <label title="cambiar foto"
                style="margin-top:60px; margin-left:-36px; margin-right:5px; height:40px; width:40px;"
                class="btn Ebutton text-white rounded-circle" for="file">

                <i class="fa-solid fa-camera"></i>

              </label>
            </form>

            {% endif %}


          </div>
          <div class="mt-4 text-white col-11">
            <div class="d-flex row justify-content-between">
              <div class="col-10">
                <h5>{{enterprise.name}}</h5>
              </div>
              <div class="col-2 text-center d-none">
                <a href="#" title="Solicitar un cambio de nombre y/o nombre de usuario" style="height:38px; width:38px;"
                  class="btn shadow-lg Ebutton text-white "><i class="fa-solid fa-exclamation"></i></a>
              </div>
            </div>
            <h6 class="card-subtitle mb-2 opacity-75">{{enterprise.username}}</h6>
          </div>
        </div>

        <hr>

        <div>

          <p class="text-white opacity-75" style="font-size:14px; margin-bottom:0;">Descripcion</p>

          {% if enterprise.description == None or enterprise.description == '' %}

          <div class="d-flex justify-content-between row">

            <div class="col-6 mt-1">

              <span class="text-white" style="font-size:17px;" id="description">Aun no hay una descripcion
                añadida...</span>

            </div>
            <div class="col-xxl-2 col-lg-3 col-sm-4">
              {% if sessionUser.id == enterprise.id %}
              <button class="btn text-white Ebutton" id="editDescription"><i style="font-size:15px;"
                  class="fa-solid fa-pen"></i> Editar descripcion</button>
              {% endif %}
            </div>
          </div>

          <form class="d-none card" id="formDescription" style="border-color:rgba(0,0,0,0); background:rgba(0,0,0,0)"
            action="{{url_for('enterprises.update_description')}}" method="post">
            <div class="d-flex row justify-content-start">
              <div class="col-9">
                {{render_input('description','descripcion',value='',type='text',class='')}}
              </div>
              <div class="col-2" style="max-width:8rem;">
                {{render_input('','',value='Enviar',type='submit',class='btn btn-success ')}}
              </div>
              <button id="cancelDescription" class="btn btn-danger col-2" style="max-width:6.5rem;">Cancelar</button>
            </div>
          </form>

          {% else %}

          <div class="d-flex justify-content-between row">

            <div class="col-xxl-10 col-lg-9 col-sm-8 mt-1">

              <span class="text-white" style="font-size:17px;" id="description">{{enterprise.description}}</span>

            </div>

            <div class="col-xxl-2 col-lg-3 col-sm-4">
              {% if sessionUser.id == enterprise.id and sessionUser.email == enterprise.email %}
              <button class="btn text-white Ebutton" id="editDescription"><i style="font-size:15px;"
                  class="fa-solid fa-pen"></i> Editar descripcion</button>
              {% endif %}
            </div>

          </div>

          <form class="d-none card" id="formDescription" style="border-color:rgba(0,0,0,0); background:rgba(0,0,0,0)"
            action="{{url_for('enterprises.update_description')}}" method="post">
            <div class="d-flex row justify-content-start">
              <div class="col-8">
                <div class="form-floating">
                  <textarea maxlength="500" name="description" class="form-control" placeholder="Editando descripción"
                    id="floatingTextarea2" style="height: 80px">{{enterprise.description}}</textarea>
                  <label for="floatingTextarea2">Descripción</label>
                </div>
              </div>
              <div class="col-2" style="max-width:7rem;">
                {{render_input('','',value='Enviar',type='submit',class='btn btn-success ')}}
              </div>
              <div class="col-2">
                <button id="cancelDescription" class="btn btn-danger" style="max-width:8rem;">Cancelar</button>
              </div>
            </div>
          </form>

          {% endif %}

        </div>
      </div>
    </div>

  </div>
  <h1 class="text-center text-white mt-5 mb-5">Productos</h1>
  <div class="mt-2 ml-4 col-12 d-flex flex-wrap">
    {% for product in products %}
    <a href="{{url_for('enterprises.product_show', id=product.id)}}" class="card-title product-title">
        <div class="card col-3 rounded-3 product_card text-white mb-4"
            style="margin-left:2rem !important; max-width:16rem;">

            {% for image in images %}
            {% if product.id == image.product_id %}
            <div class="d-flex justify-content-center">
                <img class="product_img mt-3 mr-2 ml-2" style="border-radius:15%;"
                src="{{ url_for('picture_products', filename=image.filename) }}" alt="">
            </div>
            {% endif %}
            {% endfor %}
            <div class="card-body">
                <p>{{product.title|truncate(40)}}</p>
                <h4 class="fw-bold">
                    ${{product.price}}
                </h4>

            </div>
    </a>
</div>
{% endfor %}

{% if products.pages and products.page %}

<div class="d-flex col-12 justify-content-center align-items-center">
  {% if products.page != 1 %}
  <a href="{{ url_for('enterprises.profile', id=enterprise.id ,page_num=products.prev_num ) }}"
  class="btn btn-outline-purple text-white">
  <i class="fa-solid fa-chevron-left"></i>
</a>
{% endif %}
    <p class="text-center mt-3 text-white" style="margin-right:0.5rem; margin-left:0.5rem;">
     <button class="btn buttonA disabled text-white">{{ products.page }}</button> de {{ products.pages }}
    </p>
    {% if products.page != products.pages %}
    <a href="{{ url_for('enterprises.profile', id=enterprise.id ,page_num=products.next_num) }}"
    class="btn btn-outline-purple text-white">
    <i class="fa-solid fa-chevron-right"></i>
    {% endif %}
  </a>
</div>
{% endif %}

</div>

<script>
  const description = document.getElementById('description');
  const editDescription = document.getElementById('editDescription');
  const formDescription = document.getElementById('formDescription');
  const cancelDescription = document.getElementById('cancelDescription');

  editDescription.addEventListener('click', () => {
    description.classList.add('d-none')
    editDescription.classList.add('d-none')
    formDescription.classList.remove('d-none')
  });

  cancelDescription.addEventListener('click', (e) => {
    description.classList.remove('d-none')
    editDescription.classList.remove('d-none')
    formDescription.classList.add('d-none')
    e.preventDefault()
  });

  document.getElementById("file").onchange = function () {
    document.getElementById("form").submit();
  };



</script>
{% endblock content %}