{% extends 'user_base.html' %}
{% block content %}

<div class="container-fluid contener">

    <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="col-12">
            <h1 class="text-white text-center mb-4 mt-2">Productos <i class="fa-solid fa-shield-cat"></i></h1>
            {% if products %}
            <div class="mt-2 col-12 d-flex flex-wrap">
                {% for product in products %}
                <a href="{{url_for('product_show', id=product.id)}}" class="card-title product-title">
                    <div class="card col-3 rounded-3 product_card text-white mb-4"
                        style="margin-left:2rem !important; max-width:16rem;">

                        {% for image in images %}
                        {% if product.id == image.product_id %}
                        <div class="d-flex justify-content-center">
                            <img class="product_img mt-3 mr-2 ml-2" style="border-radius:15%;"
                                src="{{ url_for('picture_products', filename=image.filename) }}" alt="">
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="card-body">
                            <p>{{product.title|truncate(40)}}</p>
                            {% for enterprise in enterprises %}
                            
                            {% if product.enterprise_id == enterprise.id %}
                            <div class="mb-2 mt-2">
                                <a href="{{ url_for('profile',id=product.enterprise_id,page_num=1) }}" class="text-white fw-bold text-decoration-none">{{enterprise.name}}</a>
                            </div>
                            {% endif %}
                                
                            {% endfor %}    
                            <h4 class="fw-bold">
                                ${{product.price}}
                            </h4>

                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% if products.pages and products.page %}
    <div class="d-flex col-12 justify-content-center align-items-center">
        {% if products.page != 1 %}
        <a href="{{ url_for('users.homepage', page_num=products.prev_num ) }}"
        class="btn btn-outline-purple text-white">
        <i class="fa-solid fa-chevron-left"></i>
    </a>
    {% endif %}
    <p class="text-center mt-3 text-white" style="margin-right:0.5rem; margin-left:0.5rem;">
        <button class="btn buttonA disabled text-white">{{ products.page }}</button> de {{ products.pages }}
    </p>
    {% if products.page != products.pages %}
    <a href="{{ url_for('users.homepage', page_num=products.next_num) }}"
    class="btn btn-outline-purple text-white">
    <i class="fa-solid fa-chevron-right"></i>
    {% endif %}
</a>
</div>
{% endif %}


{% else %}
<div class="mt-5 text-center col-12">
    <h3 class="opacity-50 text-white">No hay resultados...</h3>
</div>
{% endif %}
</div>

{% endblock content %}