
{% if is_user==True %}
{% extends 'user_base.html' %}

{% else %}
{% extends 'enterprise_base.html' %}
{% endif %}
  
{% from "_render_elements.html" import render_input, render_messages %}


{% block content %}
<div class="container-fluid contener">

  <div class="d-flex justify-content-center">
    <div class="card shadow-lg col-10 mt-5 rounded-5" style="height:20%; margin-right:1rem !important; background:#7f4ca5;">
      <div class="card-body">

        <div class="d-flex justify-content-start">
          <div class="d-inline-flex">

            {% if user.logo == None %}
            <img class="profile-img" src={{ url_for('static', filename='imgs/user_default.png' ) }} alt="">
            {% else %}
            <img class="profile-img" src="{{ url_for('picture_user_profile', filename=user.logo) 
                                  if user.logo else 
                                  url_for('picture_profile', filename='none') 
                              }}" alt="">
            {% endif %}

            {% if sessionUser.id == user.id and sessionUser.email == user.email %}
            
            <form id="form" action="{{ url_for('users.update_logo') }}" enctype='multipart/form-data'
              method="post">
              <input type="file" name="logo" id="file" class="inputfile" accept="image/png, image/jpeg">
              <label title="cambiar foto"
                style="margin-top:60px; margin-left:-36px; margin-right:5px; height:40px; width:40px;"
                class="btn Ebutton text-white rounded-circle" for="file">

                <i class="fa-solid fa-camera"></i>

              </label>
            </form>

            {% endif %}


          </div>
          <div class="mt-4 text-white col-11">
            <div class="d-flex row justify-content-between">
              <div class="col-10">
                <h5>{{user.name}}</h5>
              </div>
              <div class="col-2 text-center d-none">
                <a href="#" title="Solicitar un cambio de nombre y/o nombre de usuario" style="height:38px; width:38px;"
                  class="btn shadow-lg Ebutton text-white "><i class="fa-solid fa-exclamation"></i></a>
              </div>
            </div>
            <h6 class="card-subtitle mb-2 opacity-75">{{user.username}}</h6>
          </div>
        </div>

        <hr>

        <div>

          <p class="text-white opacity-75" style="font-size:14px; margin-bottom:0;">Descripcion</p>

          {% if user.description == None or user.description == '' %}

          <div class="d-flex justify-content-between row">

            <div class="col-6 mt-1">

              <span class="text-white" style="font-size:17px;" id="description">Aun no hay una descripcion
                añadida...</span>

            </div>
            <div class="col-xxl-2 col-lg-3 col-sm-4">
              {% if sessionUser.id == user.id %}
              <button class="btn text-white Ebutton" id="editDescription"><i style="font-size:15px;"
                  class="fa-solid fa-pen"></i> Editar descripcion</button>
              {% endif %}
            </div>
          </div>

          <form class="d-none card" id="formDescription" style="border-color:rgba(0,0,0,0); background:rgba(0,0,0,0)"
            action="{{url_for('users.update_description')}}" method="post">
            <div class="d-flex row justify-content-start">
              <div class="col-9">
                {{render_input('description','descripcion',value='',type='text',class='')}}
              </div>
              <div class="col-2" style="max-width:8rem;">
                {{render_input('','',value='Enviar',type='submit',class='btn btn-success ')}}
              </div>
              <button id="cancelDescription" class="btn btn-danger col-2" style="max-width:6.5rem;">Cancelar</button>
            </div>
          </form>

          {% else %}

          <div class="d-flex justify-content-between row">

            <div class="col-xxl-10 col-lg-9 col-sm-8 mt-1">

              <span class="text-white" style="font-size:17px;" id="description">{{user.description}}</span>

            </div>

            <div class="col-xxl-2 col-lg-3 col-sm-4">
              {% if sessionUser.id == user.id and sessionUser.email == user.email %}
              <button class="btn text-white Ebutton" id="editDescription"><i style="font-size:15px;"
                  class="fa-solid fa-pen"></i> Editar descripcion</button>
              {% endif %}
            </div>

          </div>

          <form class="d-none card" id="formDescription" style="border-color:rgba(0,0,0,0); background:rgba(0,0,0,0)"
            action="{{url_for('users.update_description')}}" method="post">
            <div class="d-flex row justify-content-start">
              <div class="col-8">
                <div class="form-floating">
                  <textarea maxlength="500" name="description" class="form-control" placeholder="Editando descripción"
                    id="floatingTextarea2" style="height: 80px">{{user.description}}</textarea>
                  <label for="floatingTextarea2">Descripción</label>
                </div>
              </div>
              <div class="col-2" style="max-width:7rem;">
                {{render_input('','',value='Enviar',type='submit',class='btn btn-success ')}}
              </div>
              <div class="col-2">
                <button id="cancelDescription" class="btn btn-danger" style="max-width:8rem;">Cancelar</button>
              </div>
            </div>
          </form>

          {% endif %}

        </div>
      </div>
    </div>

  </div>

</div>

<script>
  const description = document.getElementById('description');
  const editDescription = document.getElementById('editDescription');
  const formDescription = document.getElementById('formDescription');
  const cancelDescription = document.getElementById('cancelDescription');

  editDescription.addEventListener('click', () => {
    description.classList.add('d-none')
    editDescription.classList.add('d-none')
    formDescription.classList.remove('d-none')
  });

  cancelDescription.addEventListener('click', (e) => {
    description.classList.remove('d-none')
    editDescription.classList.remove('d-none')
    formDescription.classList.add('d-none')
    e.preventDefault()
  });

  document.getElementById("file").onchange = function () {
    document.getElementById("form").submit();
  };



</script>
{% endblock content %}