{% extends 'admin_base.html' %}
{% from '_render_elements.html' import render_input %}

{% block title %}
Crear Estado
{% endblock title %}

{% block admin_profile %}

    {% if sessionUser.profile_picture == None %}
    <img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
        alt="">
    {% else %}
    <img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='{{sessionUser.profile_picture}}' ) }} alt="">
    {% endif %}

    {{sessionUser.name}}

{% endblock admin_profile %}

{% block content %}
<div class="d-flex justify-content-center row">
    
    <div class="col-12 mr-5 d-flex mt-5 mb-3 justify-content-between align-items-center">
        <h1 class="text-white text-center" style="margin-left:1rem;">Crear estado</h1>
        <a href="{{ url_for('admin.states', page_num=1)}}" class="btn btn-primary" style="margin-right:0.6rem;">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <hr style="width:95%;">
    
    <div class="col-6">
        
        <form action="{{ url_for('admin.state_create') }}" method="post">
            <label class="text-white mt-3">Nombre del Estado</label>
            {{render_input('name','','',type='text',class='')}}
            <label class="text-white mt-3">Pais</label>
            <select class="form-select mb-3" name="country_id" aria-label="Default select example">

                {% for country in countries %}

                <option value="{{ country.id }}">{{ country.name }}</option>

                {% endfor %}

            </select>
            {{render_input('','','Crear',type='submit',class='btn buttonB fw-bold text-white ')}}
        </form>
    </div>
    
</div>
{% endblock content %}