{% extends 'admin_base.html' %}
{% from '_render_elements.html' import render_input %}



{% block title %}
Confirmacion para borrar
{% endblock title %}

{% block admin_profile %}

{% if sessionUser.profile_picture == None %}
<img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
    alt="">
{% else %}
<img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='{{sessionUser.profile_picture}}' ) }}
    alt="">
{% endif %}

{{sessionUser.name}}

{% endblock admin_profile %}

{% block content %}

<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Eliminar estado</h1>
        <a href="{{ url_for('admin.states', page_num=1)}}" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <hr>
    <div class="d-flex justify-content-center text-center align-items-center">
        <div class="col-8 mt-5">
            <h5 class="text-white mt-4">Eliminando {{state.name}}</h5>
            <p class="text-white mt-3 mb-3">Al eliminar este estado no sera posible recuperarlo seguro que quieres proseguir con la
                eliminacion?
                <b>La eliminación del estado sera permanente</b>
            </p>
            <form action="{{ url_for('admin.state_delete', id=state.id)}}" method="post">

                <div class="d-inline-flex align-items-center justify-content-between col-12">

                    <div class="col-3 mb-3 mt-3">
                        {{ render_input('','','Borrar',type='submit', class='btn btn-danger') }}
                    </div>

                    <a href="{{ url_for('admin.states', page_num=1)}}" class="btn btn-primary col-3 mb-3 mt-3">
                        Cancelar
                    </a>
                </div>
        </div>
    </div>
    </form>

    {% endblock %}