{% extends 'admin_base.html' %}


{% block title %}
Ver {{ state.name }}
{% endblock title %}

{% block admin_profile %}

    {% if sessionUser.profile_picture == None %}
    <img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
        alt="">
    {% else %}
    <img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='{{sessionUser.profile_picture}}' ) }} alt="">
    {% endif %}

    {{sessionUser.name}}

{% endblock admin_profile %}

{% block content %}

<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Ver</h1>
        <a href="{{ url_for('admin.states', page_num=1)}}" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <hr>

    <div class="col-12">

        <table class="table tableB text-white align-middle">
            <tr>
                <th scope="col">
                    <h3>Id</h3>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <h5>{{state.id}}</h5>
                </th>
            </tr>
        </table>

        <table class="table tableB text-white align-middle">
            <tr>
                <th scope="col">
                    <h3>Nombre</h3>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <h5>{{state.name}}</h5>
                </th>
            </tr>
        </table>

        <table class="table tableB text-white align-middle">
            <tr>
                <th scope="col">
                    <h3>Pais</h3>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <h5>{{country.name}}</h5>
                </th>
            </tr>
        </table>

        <table class="table tableB text-white align-middle">
            <tr>
                <th scope="col">
                    <h3>Id</h3>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <h5>{{state.id}}</h5>
                </th>
            </tr>
        </table>

    </div>
</div>
{% endblock %}