{% extends 'admin_base.html' %}
{% from '_render_elements.html' import render_a_as_button %}


{% block title %}
Lista de Estados
{% endblock title %}

{% block admin_profile %}

    {% if sessionUser.profile_picture == None %}
    <img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
        alt="">
    {% else %}
    <img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='{{sessionUser.profile_picture}}' ) }} alt="">
    {% endif %}

    {{sessionUser.name}}

{% endblock admin_profile %}

{% block content %}
<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Lista de Estados</h1>
        <a href="{{ url_for('admin.state_create')}}" class="btn buttonB text-white">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    <hr>

    <div class="col-12">

        <table class="table tableB text-white align-middle">
            <thead>
                <tr>
                    <th style="border:none;" scope="col">
                        <h4>Nombres</h4>
                    </th>
                    <th style="border:none;" scope="col">
                        <h4>Pais</h4>
                    </th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
            </thead>
            {% for state in states %}




            <tr>
                <th scope="row">
                    <h5>{{state.name}}</h5>
                </th>

                {% for country in countries %}


                {% if country.id == state.country_id %}


                <td scope="row">
                    <h5>
                        <a class="text-white" href="{{ url_for('admin.country_show',id=state.country_id) }}">
                            {{country.name}}
                        </a>
                    </h5>
                </td>
                {% endif %}

                {% endfor %}

                <td class="text-center">
                    <a href="{{ url_for('admin.state_show', id=state.id )}}" class="btn btn-primary col-2">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{{ url_for( 'admin.state_update', id=state.id ) }}" class="btn btn-success col-2">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{{ url_for('admin.state_delete', id=state.id)}}" class="btn btn-danger col-2">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}
        </table>

    </div>
    <div class="d-flex col-12 justify-content-center align-items-center">
        {% if states.page != 1 %}
        <a href="{{ url_for('admin.states', page_num=states.prev_num) }}"
            class="btn btn-outline-purple text-white">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
        {% endif %}
        <p class="text-center mt-3 text-white" style="margin-right:0.5rem; margin-left:0.5rem;">
            <button class="btn buttonA disabled text-white">{{ states.page }}</button> de {{ states.pages }}
        </p>
        {% if states.page != states.pages %}
        <a href="{{ url_for('admin.states', page_num=states.next_num) }}"
            class="btn btn-outline-purple text-white">
            <i class="fa-solid fa-chevron-right"></i>
            {% endif %}
        </a>
    </div>
</div>

{% endblock content %}