{% extends 'admin_base.html' %}
{% from '_render_elements.html' import render_input %}

{% block title %}
Editar estado
{% endblock title %}

{% block admin_profile %}

    {% if sessionUser.profile_picture == None %}
    <img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
        alt="">
    {% else %}
    <img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='{{sessionUser.profile_picture}}' ) }} alt="">
    {% endif %}

    {{sessionUser.name}}

{% endblock admin_profile %}

{% block content %}
<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Editando</h1>
        <a href="{{ url_for('admin.states', page_num=1)}}" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <hr>
    <div class="col-12 d-flex justify-content-center">

        <form class="col-6 text-white" action="{{ url_for('admin.state_update', id=state.id) }}" method="post">
            <label class="mt-3">Nombre del estado</label>
            {{render_input('name','',value=state.name,type='text',class='')}}
            <label class="mt-3">Pais</label>
            <select class="form-select mb-3" name="country_id" aria-label="Default select example">

                {% for country in countries %}

                <option value="{{ country.id }}">{{ country.name }}</option>

                {% endfor %}

            </select>
            {{render_input('','','Editar',type='submit',class='btn btn-green  text-white')}}
        </form>
    </div>
</div>
{% endblock content %}