{% extends 'admin_base.html' %}
{% from '_render_elements.html' import render_a_as_button %}


{% block title %}
Lista de Negocios
{% endblock title %}

{% block admin_profile %}

    {% if sessionUser.profile_picture == None %}
    <img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
        alt="">
    {% else %}
    <img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='{{sessionUser.profile_picture}}' ) }} alt="">
    {% endif %}

    {{sessionUser.name}}

{% endblock admin_profile %}

{% block content %}
<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Lista de Negocios</h1>
    </div>
    <hr>

    <div class="col-12">

        <table class="table tableB text-white align-middle">
            <thead>
                <tr>
                    <th style="border:none;" scope="col">
                        <h4>id</h4>
                    </th>
                    <th style="border:none;" scope="col">
                        <h4>Negocio</h4>
                    </th>
                    <th style="border:none;" scope="col">
                        <h4>Usuario</h4>
                    </th>
                    <th style="border:none;" scope="col">
                        <h4>Pais</h4>
                    </th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
            </thead>
            {% for enterprise in enterprises %}




            <tr>
                <th scope="row">
                    <h5>{{enterprise.id}}</h5>
                </th>
                <th scope="row">
                    <h5>{{enterprise.name}}</h5>
                </th>

                <th scope="row">
                    <h5>{{enterprise.username}}</h5>
                </th>


                {% for country in countries %}


                {% if country.id == enterprise.country_id %}


                <td scope="row">
                    <h5>
                        <a class="text-white" href="{{ url_for('admin.country_show',id=enterprise.country_id) }}">
                            {{country.name}}
                        </a>
                    </h5>
                </td>
                {% endif %}

                {% endfor %}

                <td class="text-center">
                    <a href="{{ url_for('admin.enterprise_show', id=enterprise.id )}}" class="btn btn-primary col-3">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{{ url_for( 'admin.enterprise_update', id=enterprise.id ) }}" class="btn btn-success col-3">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{{ url_for('admin.enterprise_delete', id=enterprise.id)}}" class="btn btn-danger col-3">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}
        </table>
        <div class="d-flex col-12 justify-content-center align-items-center">
            {% if enterprises.page != 1 %}
            <a href="{{ url_for('admin.enterprises', page_num=enterprises.prev_num) }}"
                class="btn btn-outline-purple text-white">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            {% endif %}
            <p class="text-center mt-3 text-white" style="margin-right:0.5rem; margin-left:0.5rem;">
                <button class="btn buttonA disabled text-white">{{ enterprises.page }}</button> de {{ enterprises.pages }}
            </p>
            {% if enterprises.page != enterprises.pages %}
            <a href="{{ url_for('admin.enterprises', page_num=enterprises.next_num) }}"
                class="btn btn-outline-purple text-white">
                <i class="fa-solid fa-chevron-right"></i>
                {% endif %}
            </a>
        </div>
    </div>
</div>

{% endblock content %}