{% extends 'admin_base.html' %}


{% block title %}
Ver {{ enterprise.name }}
{% endblock title %}

{% block admin_profile %}

{% if sessionUser.profile_picture == None %}
<img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
    alt="">
{% else %}
<img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static',
    filename='{{sessionUser.profile_picture}}' ) }} alt="">
{% endif %}

{{sessionUser.name}}

{% endblock admin_profile %}

{% block content %}

<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Ver</h1>
        <a href="{{ url_for('admin.enterprises',page_num=1)}}" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <hr>

    <div class="col-12">

        <table class="table tableB text-white align-middle">
            <tr>
                <th scope="col">
                    <h5 class="fw-bold">Id:</h5>
                    <p>{{enterprise.id}}</p>
                </th>
            </tr>

            <tr>
                <th scope="col">
                    <h5 class="fw-bold mt-5">Nombre:</h5>
                    <p>{{enterprise.name}}</p>
                </th>
            </tr>

            <tr>
                <th scope="col">
                    <h5 class="fw-bold mt-5">Dni:</h5>
                    <p>{{enterprise.dni}}</p>
                </th>
            </tr>

            <tr>
                <th scope="col">
                    <h5 class="fw-bold mt-5">Email:</h5>
                    <p>{{enterprise.email}}</p>
                </th>
            </tr>

            <tr>
                <th scope="col">
                    <h5 class="fw-bold mt-5">Telefono:</h5>
                    {% if enterprise.phone == None or enterprise.phone == '' %}
                    <p>No establecido</p>
                    {% else %}
                    <p>{{enterprise.phone}}</p>
                    {% endif %}
                </th>
            </tr>

            <tr>
                <th scope="col">
                    <h5 class="fw-bold mt-5">Nivel:</h5>
                    {% if enterprise.level == 12 %}
                    <p>Administrador</p>
                    {% elif enterprise.level == 0 %}
                    <p>Baneado</p>
                    {% else %}
                    <p>Usuario</p>
                    {% endif %}
                </th>
            </tr>

            <tr>
                <th scope="col">
                    <h5 class="fw-bold mt-5">Estatus:</h5>
                    {% if enterprise.calification >= 4.5 %}
                    <p>Excelente</p>
                    {% elif enterprise.calification >= 4 %}
                    <p>Bueno</p>
                    {% elif enterprise.calification >= 1 %}
                    <p>Malo</p>
                    {% elif enterprise.calification == 0 %}
                    <p>Sin calificar</p>
                    {% elif enterprise.calification < 0 %}
                    <p>Banear!</p>
                    {% endif %}
                </th>
            </tr>

            <tr>
                <th scope="col">
                    <h5 class="fw-bold mt-5">Pais</h5>
                    <a class="text-white fw-bold" href="{{url_for('admin.country_show',id=country.id)}}">
                        <p>{{country.name}}</p>
                    </a>
                </th>
            </tr>

            <tr>
                <th scope="col">
                    <h5 class="fw-bold mt-5">Estado:</h5>

                    {% if enterprise.state_id == None or state.name == '' %}
                    <p>No establecido</p>
                    {% else %}
                    <a class="text-white fw-bold" href="{{url_for('admin.state_show',id=state.id)}}">
                        <p>{{state.name}}</p>
                    </a>
                    {% endif %}
                </th>
            </tr>
    </div>
</div>

<style>
    p {
        font-size: 18px;
        font-weight: 400;
    }
</style>
{% endblock %}