{% extends 'admin_base.html' %}

{% block title %}
Lista de Paises
{% endblock title %}


{% block admin_profile %}

    {% if sessionUser.profile_picture == None %}
    <img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
        alt="">
    {% else %}
    <img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='{{sessionUser.profile_picture}}' ) }} alt="">
    {% endif %}

    {{sessionUser.name}}

{% endblock admin_profile %}



{% block content %}
<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Lista de Paises</h1>
        <a href="{{ url_for('admin.country_create')}}" class="btn buttonB text-white">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    <hr>

    <div class="col-12">

        <table class="table tableB text-white align-middle">
            <thead>
                <tr>
                    <th style="border:none;" scope="col">
                        <h4>Id</h4>
                    </th>
                    <th style="border:none;" scope="col">
                        <h4>Nombres</h4>
                    </th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
            </thead>
            {% for country in countries %}
            <tr>
                <th scope="row">
                    <h5>{{country.id}}</h5>
                </th>
                <th scope="row">
                    <h5>{{country.name}}</h5>
                </th>
                <td class="text-center">
                    <a href="{{ url_for('admin.country_show', id=country.id )}}" class="btn limit-btn btn-primary col-2">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{{ url_for( 'admin.country_update', id=country.id ) }}" class="btn limit-btn btn-success col-2">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{{ url_for('admin.country_delete', id=country.id)}}" class="btn limit-btn btn-danger col-2">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="d-flex col-12 justify-content-center align-items-center">
            {% if countries.page != 1 %}
            <a href="{{ url_for('admin.countries', page_num=countries.prev_num) }}"
                class="btn btn-outline-purple text-white">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            {% endif %}
            <p class="text-center mt-3 text-white" style="margin-right:0.5rem; margin-left:0.5rem;">
                <button class="btn buttonA disabled text-white">{{ countries.page }}</button> de {{ countries.pages }}
            </p>
            {% if countries.page != countries.pages %}
            <a href="{{ url_for('admin.countries', page_num=countries.next_num) }}"
                class="btn btn-outline-purple text-white">
                <i class="fa-solid fa-chevron-right"></i>
                {% endif %}
            </a>
        </div>
    </div>
</div>

<style>
.limit-btn{
    max-width:3.5rem;
}
</style>


{% endblock %}