{% extends 'admin_base.html' %}
{% from '_render_elements.html' import render_input %}

{% block title %}
Crear Pais
{% endblock title %}

{% block admin_profile %}

    {% if sessionUser.profile_picture == None %}
    <img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
        alt="">
    {% else %}
    <img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='{{sessionUser.profile_picture}}' ) }} alt="">
    {% endif %}

    {{sessionUser.name}}

{% endblock admin_profile %}

{% block content %}
<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Crear pais</h1>
        <a href="{{ url_for('admin.countries', page_num=1)}}" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <hr>
    <div class="col-12 d-flex justify-content-center">

        <form class="col-6 text-center" action="{{ url_for('admin.country_create')}}" method="post">
            {{ render_input('name','Nombre del pais', class='')}}
            {{ render_input('','Editar',type='submit',value='Crear',class='btn  mt-3 buttonB text-white fw-bold')}}

        </form>
    </div>
</div>
{% endblock content %}