body{
    background: linear-gradient(to left,#887edd,#b57edc ) !important;
}
.input-radio{
    border-radius:45px 45px 45px 45px  !important;
}

label{
    font-weight: bold !important;
}
.rounded-p{
    border-radius:45px 45px 45px 45px  !important;
}
.buttonA{
  background-color:#9756c9 !important;
}
.buttonA:hover{
  background-color: #a255da !important;
}

.btn-outline-purple{
  border:solid 1px #9756c9 !important;
}
.btn-outline-purple:hover{
  background-color: #a255da !important;
}

.btn-green{
  background-color:#009929 !important;
}

.btn-green:hover{
  background-color:#00b12f !important;
}

.buttonB{
    background-color: #7f4ca5 !important;
}

.buttonB:hover{
    background-color: #a255da !important;
}

.tableB{
    background: linear-gradient(to right,#b57edc,#887edd ) !important;
}

.bg-Dpurple{
  background:#7f4ca5 !important;
}

.bg-purple{
  background:#887edd !important;
}

.bg-Lpurple{
  background:#b57edc !important;
}

.contener{
  height:95vh !important;
  overflow-y: scroll !important;
}

.contener-1{
  height:80% !important;
  overflow-y: hidden;
}



/*Scroll*/
/* width */
.contener::-webkit-scrollbar {
  width: 10px;
}


/* Handle */
.contener::-webkit-scrollbar-thumb {
  background: rgba(93, 0, 180, 0.404); 
  border-radius:100px;
}

/* Handle on hover */
.contener::-webkit-scrollbar-thumb:hover {
  background: rgba(76, 0, 148, 0.404); 
  border-radius: 45px,45px,45px,45px;
}
body{
  overflow: hidden;
}

/* seccion de perfiles */

.Ebutton {
  background: #8d56b8 !important;
  border-color: #8d56b8 !important;
}

.Ebutton:hover {

  background: #9c61c9 !important;
  border-color: #9c61c9 !important;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile-img{
  width:100px;
  height:100px;
  margin-right:10px; 
  border-radius:100%; 
  padding:0;
  object-fit:cover;
}

.profile-img:not(:hover){
  width:100px;
  height:100px;
  margin-right:10px; 
  border-radius:100%; 
  padding:0;
  object-fit:cover;
}

.profile-img:hover{
  opacity:50%;
  transition: .5s all ease;
}

/* seccion de productos */

.product_img{
  width:13rem;
  height:13rem;
  margin-right:10px; 
  border-radius:15%; 
  padding:0;
  background:#8d56b8;
  object-fit:scale-down;
}

.product_card{
  background:#7f4ca5 !important;
}

.product_card:hover{
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.2), 0 28px 28px 0 rgba(0, 0, 0, 0.19);
  transition: .5s all ease;
}

.product-title{
  color:#ffff;
  text-decoration: none;
}

.product-title:hover{
  color:#ffff;
  text-decoration: none;
}

.image_show_sizing{
  height: 50rem;
  width: 50rem;
}

.darkred {
  background: #b60000 !important;
  border-color: #b60000 !important;
}

.darkred:hover {

  background: #9b0000 !important;
  border-color: #9b0000 !important;
}

/*Nabvar*/

.container-input {
  margin: 200px auto;
  width: 500px;
  height: 60px
}

/* The point of this tutorial is here */
.form-new {
  display: flex;
  flex-direction: row;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-top: 5px;
  margin-left: -40px;
}

img {
  border-radius: 100px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  transition: all ease-out 2s !important;
}