{% extends 'admin_base.html' %}
{% from '_render_elements.html' import render_input %}

{% block title %}
Editar Usuario
{% endblock title %}

{% block admin_profile %}

{% if sessionUser.profile_picture == None %}
<img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
    alt="">
{% else %}
<img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static',
    filename='{{sessionUser.profile_picture}}' ) }} alt="">
{% endif %}

{{sessionUser.name}}

{% endblock admin_profile %}
{% block content %}

<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Editando</h1>
        <a href="{{ url_for('admin.users',page_num=1)}}" class="btn btn-primary">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <hr>
    <div class="col-12 d-flex justify-content-center">

        <form class="col-6" action="{{ url_for('admin.user_update', id=user.id) }}" method="post">
            <div class="d-flex row">
                <div class="col-5">
                    <label class="mt-2">Dni</label>
                    {{render_input('dni','',value=user.dni,type='number',class=' mb-2')}}
                </div>
                <div class="col-7">
                    <label class="mt-2">Correo Electronico</label>
                    {{render_input('email','',value=user.email,type='email',class=' mb-2')}}
                </div>
            </div>
            <label for="" class="text-white">Contraseña:
                <a class="text-white" style="font-weight:100;">
                    No rellenar si no necesita modificación
                </a>
            </label>
            <div class="input-group">
                <p>
                <div class="col-12">
                    <input type="password" name="password" class="form-control " , id="inputPassword">
                </div>
                <i style="margin-top:11px; font-size:16px; margin-left: -30px;
    cursor: pointer;" class="fa-solid fa-eye" id="toggleButton"></i>
                </p>
            </div>
            <div class="d-flex row">
                <div class="col-6">

                    <label class="">Pais</label>
                    <select class="form-select" id="country_select" name="country_id"
                        aria-label="Default select example">
                        <option value="{{ user.country_id}}" selected>{{ country.name }}</option>

                        {% for country in countries %}

                        {% if user.country_id != country.id %}

                        <option value="{{ country.id }}">{{ country.name }}</option>

                        {% endif %}

                        {% endfor %}

                    </select>

                </div>
                <div class="col-6">
                    <label class="">Estado</label>
                    <select class="form-select col-6" id="state_select" name="state_id"
                        aria-label="Default select example">
                        <option value="{{ state.id }}" selected> {{ state.name }} </option>

                    </select>

                </div>
            </div>

            <div class="col-12">
                <label class="mt-2">Telefono</label>

                {% if user.phone == None%}

                <input type="text" name="phone" placeholder="+xx-xxx-xx-xxx" class="form-control ">

                {% else %}

                {{render_input('phone','+xx-xxx-xx-xxx',value=user.phone,type='text',class=' mb-2')}}

                {% endif %}

            </div>

            <div class="d-flex row mb-2">
                <div class="col-6">
                    <label class="mt-2">Nivel</label>
                    {{render_input('level','',value=user.level,type='number',class=' mb-2')}}
                </div>
                <div class="col-6">
                    <label class="mt-2">Calificacion</label>
                    <input type="number" step=any name="calification" value="{{ user.calification }}"
                        class="form-control  mb-2">
                </div>
            </div>

            {{render_input('','','Editar',type='submit',class='btn btn-green  text-white')}}
        </form>
    </div>
</div>

<style>
    label {
        color: white;
        font-weight: 500;
    }
</style>
<script src={{ url_for('static', filename='js/countryVerify.js' ) }}></script>
<script src={{ url_for('static', filename='js/auth.js' ) }}></script>
{% endblock content %}