{% extends 'admin_base.html' %}

{% block title %}
Lista de Usuarios
{% endblock title %}

{% block admin_profile %}

    {% if sessionUser.profile_picture == None %}
    <img width="40px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='imgs/user_default.png' ) }}
        alt="">
    {% else %}
    <img width="30px" style="margin-right:10px; padding:0;" src={{ url_for('static', filename='{{sessionUser.profile_picture}}' ) }} alt="">
    {% endif %}

    {{sessionUser.name}}

{% endblock admin_profile %}


{% block content %}
<div class="mt-5 container">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h1 class="text-white">Lista de Usuarios</h1>
    </div>
    <hr>

    <div class="col-12">

        <table class="table tableB text-white align-middle">
            <thead>
                <tr>
                    <th style="border:none;" scope="col">
                        <h4>Id</h4>
                    </th>
                    <th style="border:none;" scope="col">
                        <h4>Nombres</h4>
                    </th>
                    <th style="border:none;" scope="col">
                        <h4>Calificación</h4>
                    </th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <th scope="row">
                    <h5>{{user.id}}</h5>
                </th>
                <th scope="row">
                    <h5>{{user.name}}</h5>
                </th>

                <th scope="row">

                    {% if user.calification >= 4.5 %}
                    <h5>Excelente</h5>
                    {% elif user.calification >= 4 %}
                    <h5>Bueno</h5>
                    {% elif user.calification >= 1 %}
                    <h5>Malo</h5>
                    {% elif user.calification == 0 %}
                    <h5>Sin calificar</h5>
                    {% elif user.calification < 0 %}
                    <h5>Banear!</h5>
                    {% endif %}

                </th>

                <td class="text-center">
                    <a href="{{ url_for('admin.user_show', id=user.id )}}" class="btn btn-primary col-2">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{{ url_for('admin.user_update', id=user.id )}}" class="btn btn-success col-2">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{{ url_for('admin.user_delete', id=user.id )}}" class="btn btn-danger col-2">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
                
            </tr>
            {% endfor %}
        </table>
        <div class="d-flex col-12 justify-content-center align-items-center">
            {% if users.page != 1 %}
            <a href="{{ url_for('admin.users', page_num=users.prev_num) }}"
                class="btn btn-outline-purple text-white">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            {% endif %}
            <p class="text-center mt-3 text-white" style="margin-right:0.5rem; margin-left:0.5rem;">
                <button class="btn buttonA disabled text-white">{{ users.page }}</button> de {{ users.pages }}
            </p>
            {% if users.page != users.pages %}
            <a href="{{ url_for('admin.users', page_num=users.next_num) }}"
                class="btn btn-outline-purple text-white">
                <i class="fa-solid fa-chevron-right"></i>
                {% endif %}
            </a>
        </div>
    </div>
</div>

{% endblock content %}