{% extends "void_base.html" %}
{% from '_render_elements.html' import render_input %}


{% block title %}
    Iniciar session
{% endblock title %}
    
{% block content %}

<a href="{{url_for('index')}}" class="btn buttonB text-white mt-3"  style="margin-left:1rem;"><i class="fa-solid fa-arrow-left"></i></a>
<h1 class="text-center text-white" style="margin-top:5%;"><img class="col-3" src={{ url_for('static',
        filename='imgs/logo-white.png' ) }} alt=""></h1>
<div class="d-flex column justify-content-center align-items-center">

    <div class="card col-6 mt-5 rounded-p" style="background:#7f4ca5; border-color:rgba(0, 0, 0, 0);">
        <div class="card-body">
            <h2 class="card-title text-center text-white"><i class="fa-solid fa-city"></i> Inicio de sesión</h2>
            <div class="card-text">
                <div class="container d-flex justify-content-center">

                    <form action="{{ url_for('auth.enterprise_login') }}" class="mt-2 col-9" method="post">
                        <label for="" class="text-white">Correo electronico</label>
                        {{render_input('email','','',type='text',class='input-radio')}}

                        <label for="" class="text-white">Contraseña</label>

                        <div class="input-group">
                            <p>
                            <div class="col-12">
                                <input type="password" class="form-control" name="password" id="inputPassword" />
                            </div>
                            <i style="margin-top:11px; font-size:16px; margin-left: -30px;
                cursor: pointer;" class="fa-solid fa-eye" id="toggleButton"></i>
                            </p>
                        </div>

                        <div class="text-start mt-3 d-flex row">
                            <b class="col-9 mt-1 text-white">Aun no tienes cuenta? <a class="text-white"
                                    href="{{ url_for('auth.enterprise_signup')}}">
                                    Registrarse
                                </a></b>
                            <div class="col-3">
                                {{render_input('','','Acceder',type='submit',class='btn buttonA fw-bold input-radio
                                text-white')}}
                            </div>

                        </div>

                    </form>
                </div>

                <style>
                    body {
                        background: linear-gradient(to right, #887edd, #b57edc);
                    }

                    input {
                        border-radius: 45px 45px 45px 45px !important;
                    }

                    select {
                        border-radius: 45px 45px 45px 45px !important;
                    }

                    label {
                        font-weight: bold;
                    }

                    .rounded-p {
                        border-radius: 45px 45px 45px 45px !important;
                    }
                </style>

                <script src={{ url_for('static', filename='js/auth.js' ) }}></script>

                {% endblock content %}