{% from '_render_elements.html' import render_input %}
{% extends "void_base.html" %}


{% block title %}
    Registro
{% endblock title %}
    
{% block content %}
    
<a href="{{url_for('index')}}" class="btn buttonB text-white mt-3"  style="margin-left:1rem;"><i class="fa-solid fa-arrow-left"></i></a>
<h1 class="text-center text-white" style="margin-top:5%;"><img class="col-3" src={{ url_for('static',
    filename='imgs/logo-white.png' ) }} alt=""></h1>
<div class="d-flex column justify-content-center align-items-center">

<div class="card col-6 mt-5 rounded-p" style="background:#7f4ca5; border-color:rgba(0, 0, 0, 0);">
    <div class="card-body">
        <h2 class="card-title text-center text-white"><i class="fa-solid fa-city"></i> Registro</h2>
        <div class="d-flex justify-content-center">
            <div id="error" class="border border-danger bg-danger d-none bg-opacity-50 col-8 card">
                <div class="card-body text-white text-center">
                    <p class="d-none fw-bold" id="text_password">Las contraseñas no coinciden.</p>
                    <!--<p class="d-none fw-bold" id="text_dni">Dni en uso.</p>
                <p class="d-none fw-bold" id="text_username">Nombre de usuario en uso.</p>
                <p class="d-none fw-bold" id="text_email">Correo electronico en uso.</p>-->
                </div>
            </div>
        </div>
        <div class="card-text">
            <div class="container d-flex justify-content-center">

                <form id="formAction" action="{{ url_for('auth.enterprise_signup') }}" class="mt-2 col-9"
                    method="post">

                    <label for="" class="text-white">Nombre del negocio</label>
                    {{render_input('name','','',type='text',class='input-radio')}}

                    <div class="d-flex row">
                        <div class="col-7">
                            <label for="" class="text-white">Nombre de usuario</label>
                            <div class="input-group">
                                <span class="input-group-text" style="border-radius:100px 0 0 100px;"
                                    id="basic-addon1">@</span>
                                <input type="text" id="usernameInput" class="form-control"
                                    style="border-radius:0px 100px 100px 0 !important;"
                                    placeholder="Nombre de usuario" name="username" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-5">
                            <label for="" class="text-white">DNI del propietario</label>
                            {{render_input('dni','','',type='number',class='input-radio',id="dniInput")}}
                        </div>
                    </div>

                    <label for="" class="text-white">Correo electronico</label>
                    {{render_input('email','','',type='email',class='input-radio',id="emailInput")}}

                    <label for="" class="text-white">Contraseña</label>
                    <div class="input-group">
                        <p>
                        <div class="col-12">
                            {{render_input('password','','',type='password',class='input-radio',id="inputPassword")}}
                        </div>
                        <i style="margin-top:11px; font-size:16px; margin-left: -30px;
        cursor: pointer;" class="fa-solid fa-eye" id="toggleButton"></i>
                        </p>
                    </div>

                    <label for="" class="text-white">Confirmar Contraseña</label>
                    <div class="col-12">
                        {{render_input('password','','',type='password',class='input-radio',id="inputPassword1")}}
                    </div>


                    <div class="d-flex row">
                        <div class="col-6">

                            <label class="text-white">Pais</label>
                            <select class="form-select" id="country_select" name="country_id"
                                aria-label="Default select example">
                                <option value="" selected>--</option>

                                {% for country in countries %}

                                <option value="{{ country.id }}">{{ country.name }}</option>

                                {% endfor %}

                            </select>

                        </div>
                        <div class="col-6">
                            <label class="text-white">Estado</label>
                            <select class="form-select col-6" id="state_select" name="state_id"
                                aria-label="Default select example">
                                <option value="" selected disabled>--</option>

                            </select>

                        </div>
                    </div>

                    <div class="text-start mt-3 d-flex row">
                        <b class="col-9 mt-1 text-white">Ya tienes cuenta? <a class="text-white"
                                href="{{ url_for('auth.enterprise_login')}}">
                                Inicia sesión
                            </a></b>
                        <div class="col-3">
                            {{render_input('','','Registro',type='submit',class='btn buttonA input-radio
                            text-white')}}
                        </div>

                    </div>

                </form>
            </div>
{% endblock content %}