{% extends 'enterprise_base.html' %}
{% from '_render_elements.html' import render_input %}


{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-lg col-8 mt-5 rounded-5" style="height:20%; background:#7f4ca5;">
        <div class="card-body">
            <form action="{{url_for('enterprises.product_create')}}" enctype="multipart/form-data" method="post">

                <h3 class="text-center text-white">Crear nuevo producto</h3>
                <div class="col-12">
                    <label for="" class="text-white">Titulo del producto</label>
                    {{render_input('title','','',type='text',class='')}}
                </div>
                <div class="col-12 mt-2">
                    <div class="form-floating">
                        <span class="text-white fw-bold">Descripcion</span>
                        <textarea maxlength="500" name="description" class="form-control"
                            placeholder="Editando descripción" id="floatingTextarea2" style="height: 80px"></textarea>
                    </div>
                </div>
                <div>
                    <div class="col-12">
                        <label for="" class="text-white">Precio (en dolares $)</label>
                        {{render_input('price','','',type='Number',class='')}}
                    </div>
                    <div class="mb-2 mt-2">
                        <label for="formFile" class="form-label text-white">Foto del producto</label>
                        <input class="form-control" name="files[]" type="file" id="formFile">
                        <!-- <label for="formFileMultiple" class="fw-bold text-white">Fotos del producto</label>
                        <input class="form-control" type="file" name="files[]" required accept="image/png, image/jpeg, image/webp"
                             id="formFileMultiple" multiple>  -->
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="col-2 mt-3">
                        {{render_input('','','Crear',type='submit',class='btn buttonA text-white') }}
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock content %}