{% extends 'enterprise_base.html' %}
{% from '_render_elements.html' import render_input %}


{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-lg col-10 mt-5 rounded-5" style="height:20%; background:#7f4ca5;">
        <div class="card-body">
            <h4 class="text-white text-center mb-4">Seguro que desea borrar este producto</h4>
            <p style="font-size:17px;" class="text-white text-center">estas apunto de borrar el producto: <b>{{product.title}}</b>. despues de eliminarlo
                no se podra recuperar seguro que quiere proseguir con la eliminacion de dicho producto?
            </p>
            <div class="col-12 d-flex justify-content-between">
                <div class="">
                    <a class="btn btn-primary" href="{{url_for('enterprises.homepage', page_num=1)}}">Cancelar</a>
                </div>
                <div>
                    <form action="{{url_for('enterprises.product_delete', id = product.id)}}" method="post">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}