{% if is_user==True %}
{% extends 'user_base.html' %}
{% else %}
{% extends 'enterprise_base.html' %}
{% endif %}
{% from '_render_elements.html' import render_input %}


{% block content %}
<div class="container-fluid contener">
  <div class="d-flex col-12 justify-content-start align-items-start mt-3" style="background:#7f4ca5;">

    <div class="col-6 p-5" style="background:#8d56b8;">
      {% for image in images %}
      <img class="col-12" style="height:30rem !important; object-fit:scale-down; border-radius:0;" src="{{ url_for('picture_products', filename=image.filename) }}" alt="">
      {% endfor %}
    </div>
    
    <div class="col-6 text-white mt-5 p-5">
      <div class="d-flex justify-content-between mt-5 mb-5">
    {% if sessionUser.id == product.enterprise_id and sessionUser.email == enterprise.email%}
        <a class="btn btn-success text-white" style="margin-left:2rem !important;" href="{{url_for('enterprises.product_update', id = product.id)}}">Editar</a>
        <a class="btn darkred text-white" style="margin-right:2rem !important;" href="{{url_for('enterprises.product_delete', id = product.id)}}">Borrar</a>
        {% endif %}
      </div>
      
      <div class="mt-5 text-break" style="margin-left:2rem !important; margin-right:2rem !important;">
        <h4 class="col-12">{{product.title}}</h4>
        <p style="font-size: 1.1rem;" class="col-12 mt-3">{{product.description}}</p>
        <h2>${{product.price}}</h2>
      </div>
    </div>
  </div>
</div>
{% endblock content %}