{% macro render_input(name,placeholder,value,type='text',class='form-control',id="") %}
<input required name="{{name}}" placeholder="{{placeholder}}" value="{{value}}" type="{{type}}"
  class="form-control {{class}}" id="{{id}}">
{% endmacro %}

{% macro render_messages(messages) %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}

<div class="d-flex container justify-content-center">
  <ul class="card col-10 mt-4 rounded-3 text-white mb-4" style="background: #8d56b8;" id="uli">
    {% for category, message in messages %}
    
    <li class="text-white mt-2 mb-2 {{ category }}">{{ message }}</li>
    
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endwith %}
<script>
  document.getElementById('uli')
  
  const timer = 1800;
  setTimeout(() => {
      uli.classList.add('d-none');
  }, timer)
</script>
{% endmacro %}