{% from '_render_elements.html' import render_messages %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href={{ url_for('static', filename='css/sidebar.css' ) }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/style.css' ) }}>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  
  
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-purple no-border" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-purple no-border text-white">
        <img width="180px" height="80px" src={{ url_for('static', filename='imgs/logo-white.png' ) }} alt="">
      </div>
      <div class="list-group list-group-flush contener-1">

        <div>
          <a class="list-group-item list-group-item-action no-border bg-Dpurple list-group-item-light p-3 text-white"
            role="button" href="#collapse1" data-bs-toggle="collapse" aria-controls="collapse1" aria-expanded="false">
            ><b>Ubicaciones</b> <i class="fa-solid fa-earth-americas"></i>
          </a>
        </div>
        <div class="collapse" id="collapse1">
          <a class="list-group-item list-group-item-action text-white bg-Lpurple list-group-item-light p-3 collapse-animation"
            href="{{ url_for('admin.countries', page_num=1)}}">
            <b>> Paises</b>
          </a>
          <a class="list-group-item list-group-item-action text-white bg-Lpurple list-group-item-light p-3 collapse-animation"
          href="{{ url_for('admin.states', page_num=1)}}">
            <b>> Estados</b>
          </a>
        </div>
        
        <div>
          <a class="list-group-item list-group-item-action bg-Dpurple no-border text-white list-group-item-light p-3"
            role="button" href="#collapse2" data-bs-toggle="collapse" aria-controls="collapse1" aria-expanded="false">
            <b>>Cuentas </b> <i class="fa-solid fa-users"></i>
          </a>
        </div>
        <div class="collapse" id="collapse2">
          <a class="list-group-item list-group-item-action text-white bg-Lpurple list-group-item-light p-3 collapse-animation"
            href="{{ url_for('admin.users', page_num=1)}}">
            <b>> Usuarios</b>
          </a>
          <a class="list-group-item list-group-item-action text-white bg-Lpurple list-group-item-light p-3"
            href="{{ url_for('admin.enterprises', page_num=1)}}">
            <b>> Negocios</b>
          </a>
        </div>

      </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light no-border bg-light border-bottom"
      style="background:#944ac5 !important;">
      <div class="container-fluid">
        <button class="btn buttonB text-white" id="sidebarToggle"><i class="fa-solid fa-bars"></i></button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
            <div class="dropdown col-2">
              <a class="text-decoration-none text-white d-flex align-items-center fw-bold dropdown-toggle" href="#"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">

              
              {% block admin_profile %}
                
              {% endblock admin_profile %}
              
            </a>
            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Cerrar sessión</a></li>
            </ul>
          </div>

        </div>
      </nav>
      <!-- Page content-->
      
      <div class="container-fluid contener col-12">
        {{render_messages(messages)}}  
        {% block content %}
        
        {% endblock %}

      </div>
    </div>
  </div>

  <style>
    .no-border {
      border-color: rgba(0, 0, 0, 0) !important;
    }

    a {
      text-decoration: none;
    }
    .dropdown:hover .dropdown-menu {
      display: block;
      transition: all ease-out 2s !important;
    }
  </style>
</body>

<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
<script src="https://kit.fontawesome.com/d76d9d2ca0.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>