{% extends "void_base.html" %}

{% block content %}
<div class="contener">
    <div class="col-12 d-flex justify-content-center align-items-center opacity-75"
        style="height:30rem; background:#7166d6;">
        <img src="{{ url_for('static', filename='imgs/logo-white.png' ) }}" alt="">
        <br>
        <h3 class="text-white opacity-50" style="background:#7166d6;">Tu catalogo de confianza</h3>
    </div>
    <div class="col-12 d-inline-flex"> 
        <a href="{{url_for('auth.user_login')}}" class="btn buttonB text-white col-6" 
        style="border-radius: 0%; border-right:1px solid #ffffff;">
            Entrar como usuario
        </a>
        <a href="{{url_for('auth.enterprise_login')}}" class="btn buttonB text-white col-6" style="border-radius: 0%;">
            Entrar como empresa
        </a>

    </div>
    <div class="container col-10 mt-5">
        <div class="col-12">
            <h3 class="text-white text-center">Empresas Afiliadas con nosotros</h3>
            <hr>
            <div class="d-flex flex-wrap">
                {% for enterprise in enterprises %}
                <div class="card-title product-title">
                    <div class="card col-3 rounded-3 product_card text-white mb-4"
                        style="margin-left:2rem !important; margin-right:2rem; width:16rem !important;">

                        <div class="d-flex justify-content-center">
                            <img class="product_img mt-3 mr-2 ml-2" style="border-radius:15%;" src="{{ url_for('picture_enterprise_profile', filename=enterprise.logo) 
                                    if enterprise.logo else 
                                        url_for('picture_enterprise_profile', filename='user_default.png') 
                                    }}" alt="">
                        </div>
                        <div class="card-body">
                            <span class="fw-bold">{{enterprise.name}}</span>
                            <br>
                            <span class="opacity-75">Empresa</span>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}