
{% if is_user==True %}
{% extends 'user_base.html' %}

{% else %}
{% extends 'enterprise_base.html' %}
{% endif %}

{% block content %}
<div class="container-fluid contener">
    <div class="text-white mb-5 text-center">
        <br>
        <h2>Resultados para</h2>
        <h5>{{ searched }}</h5>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="col-12">
            <div class="mt-2 col-12 d-flex flex-wrap">
                
                {% if enterprises %}
                
                
                <div class="col-12">
                    <h3 class="text-white text-center">Empresas</h3>
                    <hr>
                    {% for enterprise in enterprises %}
                    
                    <a href="{{url_for('profile', id=enterprise.id,page_num=1)}}" class="card-title product-title">
                        <div class="card col-3 rounded-3 product_card text-white mb-4"
                        style="margin-left:2rem !important; width:16rem !important;" >
                        
                        <div class="d-flex justify-content-center">
                            <img class="product_img mt-3 mr-2 ml-2" style="border-radius:15%;"
                            src="{{ url_for('picture_enterprise_profile', filename=enterprise.logo) }}" alt="">
                        </div>
                        <div class="card-body">
                            <span class="fw-bold">{{enterprise.name}}</span>
                            <br>
                            <span class="opacity-75">Empresa</span>
                            
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}
                {% if products %}
                <div class="col-12">

                    <h3 class="text-white text-center">Productos</h3>
                    <hr>
                    
                <div class="mt-2 col-12 d-flex flex-wrap">

                
                {% for product in products %}
                <a href="{{url_for('product_show', id=product.id)}}" class="card-title product-title">
                    <div class="card col-3 rounded-3 product_card text-white mb-4"
                        style="margin-left:2rem !important; max-width:16rem;">


                        {% for image in images %}
                        {% if product.id == image.product_id %}
                        <div class="d-flex justify-content-center">
                            <img class="product_img mt-3 mr-2 ml-2" style="border-radius:15%;"
                                src="{{ url_for('picture_products', filename=image.filename) }}" alt="">
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="card-body">
                            <span>{{product.title|truncate(40)}}</span>
                            <br>
                            {% for creator in creators %}

                            {% if product.enterprise_id == creator.id %}
                            <div class="mb-2 mt-2">
                                <a href="{{ url_for('profile',id=product.enterprise_id,page_num=1) }}"
                                    class="text-white fw-bold text-decoration-none">{{creator.name}}</a>
                            </div>
                            {% endif %}

                            {% endfor %}

                            <h4 class="fw-bold">
                                ${{product.price}}
                            </h4>

                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            </div>
                {% else %}
                <div class="mt-5 text-center col-12">
                    <h3 class="opacity-50 text-white">No hay resultados...</h3>
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}