{% from '_render_elements.html' import render_messages %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href={{ url_for('static', filename='css/style.css' ) }}>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light col-12" style="height:90px; background:#7f4ca5;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('users.homepage', page_num = 1)}}">
        <img width="180px" height="80px" src={{ url_for('static', filename='imgs/logo-white.png' ) }} alt="">
      </a>
      <div class="col-7">
        <form action="{{url_for('search', page_num = 1)}}" method="POST" class="form-new">
          {{ csrf_token }}
          <input type="search" placeholder="Search" name="search" class="search-field"/>
          <button type="submit" class="search-button">
            <h5 style="font-size:20px;"><i class="fa-solid fa-magnifying-glass"></i></h5>
          </button>
        </form>
      </div>
  
      <div class="dropdown col-2">
        <a class="text-decoration-none text-white d-flex align-items-center fw-bold dropdown-toggle" href="#"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
  
          {% if sessionUser.logo == None %}
          <img width="40px" style="margin-right:10px; padding:0;" src="{{ url_for('static',
            filename='imgs/user_default.png' ) }}" alt="">
          {% else %}
          <img style="width:40px; height:40px; margin-right:10px; padding:0; object-fit:cover;"
          src="{{ url_for('picture_user_profile', filename=sessionUser.logo) 
                                  if sessionUser.logo else 
                                  url_for('picture_user_profile', filename='none') 
                              }}"
            alt="">
          {% endif %}
          {{sessionUser.name}}
        </a>
  
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{url_for('user_profile',id = sessionUser.id)}}">Ver perfil</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Cerrar sessión</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  {{render_messages(messages)}}
  {% block content %}

  {% endblock content %}

</body>
<script src={{ url_for('static', filename='js/auth.js' ) }}></script>
<script src={{ url_for('static', filename='js/countryVerify.js' ) }}></script>

<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
<script src="https://kit.fontawesome.com/d76d9d2ca0.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>