{% from '_render_elements.html' import render_messages %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css' ) }}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>


    <style>
        body {
            background: linear-gradient(to right, #887edd, #b57edc);
        }

        input {
            border-radius: 45px 45px 45px 45px !important;
        }

        select {
            border-radius: 45px 45px 45px 45px !important;
        }

        label {
            font-weight: bold;
        }

        .rounded-p {
            border-radius: 45px 45px 45px 45px !important;
        }

        .buttonB {
            background-color: #7f4ca5;
        }

        .buttonB:hover {
            background-color: #a255da;
        }
    </style>
    {{render_messages(messages)}}
    {% block content %}
        
    {% endblock content %}
        
    <script src={{ url_for('static', filename='js/countryVerify.js' ) }}></script>
    <script src={{ url_for('static', filename='js/auth.js' ) }}></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <script src="https://kit.fontawesome.com/d76d9d2ca0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>